<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;  
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<%= form_for(employee) do |e|%>
<div>
  <form>
  
    
    <%= e.label :emp_id%>
    <%= e.text_field :emp_id%>

    <%= e.label :name%>   
    <%= e.text_field :name%>  


    <%= e.label :date_of_joining%>
    <%= e.text_field :date_of_joining%>

    <%= e.label :leaves%>
    <%= e.text_field :leaves%>

    <%= e.label :company%>
    <%= e.text_field :company%>

    <%= e.label :department%>
    <%= e.text_field :department%>
  
    <%= e.label :is_active%>
    <%= e.text_field :is_active%>

    <%= e.label :manager_id%>
    <%= e.text_field :manager_id%>

    <%= e.label :is_manager%>
    <%= e.text_field :is_manager%>

    <%= e.submit%>
  </form>
  
    
</div>
<%end%>


